---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Arĥivo
  order: 2
---

{% import "postslist.njk" as postslist %}

<h1>Arĥivo</h1>

{{ postslist.postslist(collections.posts) }}


