---
layout: layouts/home.njk
eleventyNavigation:
  key: Hejmo
  order: 1
---
{% set maxPosts = collections.posts.length | min(12) %}
{% if maxPosts -%}
<h1>Plej {% if maxPosts == 1 %}Nova Artikolo{% else %}{{ maxPosts }} Novaj Artikoloj{% endif %}</h1>

{% set postslist = collections.posts | head(-12) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Ĉiuj artikoloj troviĝas en <a href="{{ '/posts/' | url }}">la arĥivo</a>.</p>
{%- endif %}
