---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Kradvorto “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
{% import "postslist.njk" as postslist %}

<h1>Kradvorto “{{ tag }}”</h1>

{{ postslist.postslist(collections[tag]) }}

<p><a href="{{ '/tags/' | url }}">Ĉiuj kradvortoj</a>.</p>
