---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Kradvorto “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1>Kradvorto “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p><a href="{{ '/tags/' | url }}">Ĉiuj kradvortoj</a>.</p>
