{% macro figure(url, description, width, height, source='', attribution='') %}
<figure class="image">
  <img src="{{ url }}"
       alt="{{ description }}"
       loading="lazy"
       width="{{ width }}"
       height="{{ height }}">
  <figcaption>
      {{ description }}
      {% if source != '' and attibution != '' -%}
      Fonto: <a href="{{ source }}">{{ attribution }}</a>
      {%- endif %}
  </figcaption>
</figure>
{%- endmacro %}
